<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Bem vindo ao Cidade Conectada</h3>
  <p>
    APP desenvolvido para desburocratizar o processo de relatar probleams nos municípios
  </p>
  <p>Seu município:</p>
  <ion-item>
    <ion-icon name="pin"></ion-icon>
    {{town()}}
  </ion-item>
  <p *ngIf="!haveSupport()" style="color: white;background-color: red;padding: 10px;border-radius: 5px">
      <ion-icon name="alert"></ion-icon> {{town()}} ainda não utiliza a plataforma
  </p>
  <button *ngIf="haveSupport()" (click)="reportPage()" ion-button secondary block>Relatar problema</button>
</ion-content>
